#carousel-inicio {
    .carousel-item:nth-of-type(1) img {
        content: url(../img/banner\ inicio1.jpg);
    }

    .carousel-item:nth-of-type(2) img {
        content: url(../img/banner\ inicio2.jpg);
    }

    .carousel-item:nth-of-type(3) img {
        content: url(../img/banner\ inicio3.jpg);
    }

    @media only screen and (max-width: 1100px) {
        .carousel-item:nth-of-type(1) img {
            content: url(../img/Mobile-Banner2.jpg);
        }

        .carousel-item:nth-of-type(2) img {
            content: url(../img/Mobile-Banner1.jpg);
        }

        .carousel-item:nth-of-type(3) img {
            content: url(../img/Mobile-Banner3.jpg);
        }
    }
}

#carousel-aboutME {
    .carousel-item:nth-of-type(1) img {
        content: url(../img/banner1.jpg);
    }

    .carousel-item:nth-of-type(2) img {
        content: url(../img/banner2.jpg);
    }

    .carousel-item:nth-of-type(3) img {
        content: url(../img/banner3.jpg);
    }

    @media only screen and (max-width: 1100px) {
        .carousel-item:nth-of-type(1) img {
            content: url(../img/mobilebanner1.jpg);
        }

        .carousel-item:nth-of-type(2) img {
            content: url(../img/mobilebanner2.jpg);
        }

        .carousel-item:nth-of-type(3) img {
            content: url(../img/mobilebanner3.jpg);
        }
    }
}

#carousel-Clientes {
    .carousel-item:nth-of-type(1) img {
        content: url(../img/Banner\ cliente1.jpg);
    }

    .carousel-item:nth-of-type(2) img {
        content: url(../img/Banner\ cliente2.jpg);
    }

    .carousel-item:nth-of-type(3) img {
        content: url(../img/Banner\ cliente3.jpg);
    }

    @media only screen and (max-width: 1100px) {
        .carousel-item:nth-of-type(1) img {
            content: url(../img/Mobile-Cliente1.jpg);
        }

        .carousel-item:nth-of-type(2) img {
            content: url(../img/Mobile-Cliente2.jpg);
        }

        .carousel-item:nth-of-type(3) img {
            content: url(../img/Mobile-Cliente3.jpg);
        }
    }
}