.Inicio {
    display: grid;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: $Font1;
    color: $ColorLetra;
    font-size: 60px;
    letter-spacing: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-areas:
        "encabezado"
        "Juegos"
        "Anime";
    background-size: cover;
    background-position: center;

    h1 {
        grid-area: encabezado;
        font-size: 100px;
    }

    h2 {
        grid-area: h2;
        font-size: 70px;
    }

    .Juegos {
        grid-area: Juegos;
        display: grid;        
        width: 100%;
        padding: 45px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100px 400px 400px;
        gap: 45px;
        grid-template-areas:
            "h2 h2 h2 h2"
            "id1 id2 id3 id4"
            "id5 id6 id7 id8";
    }

    .Anime {
        grid-area: Anime;
        display: grid;
        width: 100%;
        padding: 45px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100px 400px 400px;
        gap: 45px;
        grid-template-areas:
            "h2 h2 h2 h2"
            "id9 id10 id11 id12"
            "id13 id14 id15 id16";
    }
}
@media only screen and (max-width: 1100px) {

    .Inicio {
        padding: 5px;
        font-size: 28px;

        h2 {
            grid-area: h2;
            font-size: 70px;
        }

        .Juegos {
            grid-template-columns: 1fr 1fr 1fr;
            padding: 10px;
            grid-template-rows: 100px repeat(3, 200px);
            gap: 10px;
            grid-template-areas:
                "h2 h2 h2"
                "id1 id2 id3"
                "id4 id5 id6"
                "id7 id7 id8";
        }
    
    
        .Anime {
            grid-template-columns: 1fr 1fr 1fr;
            padding: 10px;
            grid-template-rows: 100px repeat(3, 200px);
            gap: 10px;
            grid-template-areas:
                "h2 h2 h2"
                "id9 id10 id11"
                "id12 id13 id14"
                "id15 id15 id16";
        }

        .myCard {
            max-width: 600px;
        }
    
    }   

}



@media only screen and (max-width: 700px) {

    .Inicio {
        padding: 5px;
        font-size: 28px;

        h2 {
            grid-area: h2;
            font-size: 70px;
        }

        .Juegos {
            grid-template-columns: 1fr 1fr;
            padding: 10px;
            grid-template-rows: 100px repeat(4, 200px);
            gap: 10px;
            grid-template-areas:
                "h2 h2"
                "id1 id2"
                "id3 id4"
                "id5 id6"
                "id7 id8";
        }
    
    
        .Anime {
            grid-template-columns: 1fr 1fr;
            padding: 10px;
            grid-template-rows: 100px repeat(4, 200px);
            gap: 10px;
            grid-template-areas:
                "h2 h2"
                "id9 id10"
                "id11 id12"
                "id13 id14"
                "id15 id16";
        }
    }  
}

