@font-face {
    font-family: cherry;
    src: url(/WEB/font/Cherry\ Bird\ Demo.ttf);
}

@font-face {
    font-family: elegant;
    src: url(/WEB/font/Elegant\ Handwriting.otf);
}

@font-face {
    font-family: juliette;
    src: url(/WEB/font/Juliette.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    height: auto;
}

header{
    height: 80px;
    width: 100%;
    background-color: #D88F80;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    position:relative;
}

.img{
    height: auto;
    width: 80px;
    float:left;
    padding-right: 15px;
}

.logo{
    float: left;
    text-transform: uppercase;
    text-shadow: 0 0 3px;
    font-family: elegant;
    font-size: 40px;
}

.barra{
    float: right;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    text-transform: capitalize;
}

ul a{
    color: #615553;
    text-decoration: none;
    font-family: elegant;
    font-size: 36px;
    padding: 10px

}

ul a:hover{
    color: white;
}

main{
    height: auto;
    background-color: #FDE6E1;
    margin-bottom: 80px;  

}
/* Crear banners de tamaño 1500px ancho por 415px alto */
.Carrusel{
    margin: auto;
    background-color: #FDE6E1;
    max-width: 1500px;
    width: 100%;
    padding: 15px;
}

ul.slider{
    position: relative;
    max-width: 1500px;
    width: 100%;
    height: 415px;
}

ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

ul.slider li img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

ul.slider li:first-child{
    opacity:1;
}

ul.slider li:target{
    opacity: 1;
}

.menu{
    text-align: center;
    margin: 20px;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #DD897B;
    padding: 0px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}

.Contenedor{
    border: 3px solid black;
    display: grid;
    padding: 10px;
    text-align: center;
    font-family: juliette;
    color: #7D716F;
    font-size: 60px; 
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center ;
    justify-items: center;
    grid-template-areas:
    "encabezado"    
    "Anime"   
    "Juegos";
}

h1{
    grid-area: encabezado;
}

h2{
    grid-area: h2;    
}


.Juegos{
    grid-area: Juegos;
    border: 3px solid black;
    display: grid;
    padding: 10px; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center ;
    justify-items: center;
    grid-template-areas:  
    "h2 h2 h2 h2"
    "item1 item2 item3 item4"
    "item5 item6 item7 item8";  
}

.Anime{
    grid-area: Anime;
    border: 3px solid black;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center ;
    justify-items: center;
    grid-template-areas:
    "h2 h2 h2 h2"
    "item1 item2 item3 item4"
    "item5 item6 item7 item8";     
}



footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #FCA695;
    font-family: elegant;
    color: #7D716F;
    text-align: center;
    padding: 20px;
}

.redes-sociales a{

    color: #7D716F;
    font-size: 40px;
    padding-right: 40px;
    text-decoration: none;
}