@font-face {
    font-family: cherry;
    src: url(../Fuentes/Texto/Cherry\ Bird\ Demo.ttf);
}

@font-face {
    font-family: elegant;
    src: url(../Fuentes/Texto/Elegant\ Handwriting.otf);
}

@font-face {
    font-family: juliette;
    src: url(../Fuentes/Texto/Juliette.otf);
}

$Font1: juliette;
$Font2: cherry;
$Font3: elegant;

/* Paleta de colores */

$ColorFondo: #ffd5cf;
$ColorLetra: #3c6d6f;
$ColorBanner: #ff8a7f;
$ColorBanner2: #ff7466;
$ColorExtra: #ffe0dd;
$ColorBotonContacto: #66BABD;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    height: auto;
}

body {

    background: $ColorFondo;
    background-image: url(../img/v1013-p-0001a.jpg);
    background-size: cover;

    .Construccion {
        background-image: url(../img/Pagina-en-construccion.jpg);
        height: 100vh;
        font-size: 36px;
        text-align: center;
        color: $ColorExtra;
        text-shadow: 1px 1px 1px black;
    }
}

@import "_Header.scss";

main {
    height: auto;
    margin-bottom: 60px;

}



/* Crear banners de tamaño 1500px ancho por 415px alto */

@import "_Inicio.scss";

@import "_About-me.scss";

/* ################# Cards ################# */

.myCard {
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    text-shadow: 1px 1px 1px black;

    .innerCard {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        cursor: pointer;

        &:hover {
            transform: rotateY(180deg);
        }

        .frontSide,
        .backSide {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            background-size: cover;
        }

        .frontSide {
            border: 1px solid rgba(255, 255, 255, 0.8);
            border-radius: 1rem;
            color: $ColorExtra;
            box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
            font-weight: 700;
            background-color: transparent;

            .title {
                font-size: 1em;
                font-weight: 100;
                text-align: center;
            }
        }

        .backSide {
            transform: rotateY(180deg);
            background-color: transparent;

            .title2 {
                font-size: 1em;
                font-weight: 900;
                color: aliceblue;
            }
        }
    }
}

@import "_Pelucas.scss";

/* Pagina Contactos */

@import "_Contacto.scss";

/* Footer */

@import "_Footer.scss";


@media only screen and (max-width: 700px) {

    header {


        .logo {
            font-size: 30px;
        }

        .checkbtn {
            display: block;
        }

        nav ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: $ColorExtra;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;

            li {
                display: block;
                margin: 50px 0;
                line-height: 30px;

                a {
                    font-size: 40px;
                }
            }

            li a:hover,
            ul a.active {
                background: none;
                color: $ColorExtra;
                text-shadow: 1px 1px 2px #615553;
            }

        }

        #check:checked~ul {
            left: 0;
            position: fixed;
            top: 80px;
            bottom: 0;
            right: 0;
            z-index: 2;
        }
    }

}

@media only screen and (max-width: 700px) {

    .Inicio {
        padding: 5px;
        font-size: 28px;

        h2 {
            grid-area: h2;
            font-size: 70px;
        }

        .Juegos {
            grid-template-columns: 1fr 1fr;
            padding: 10px;
            grid-template-rows: 100px repeat(4, 200px);
            gap: 10px;
            grid-template-areas:
                "h2 h2"
                "id1 id2"
                "id3 id4"
                "id5 id6"
                "id7 id8";
        }
    
    
        .Anime {
            grid-template-columns: 1fr 1fr;
            padding: 10px;
            grid-template-rows: 100px repeat(4, 200px);
            gap: 10px;
            grid-template-areas:
                "h2 h2"
                "id9 id10"
                "id11 id12"
                "id13 id14"
                "id15 id16";
        }

        .myCard {
            background-color: transparent;
            width: 180px;
            height: 180px;
            perspective: 1000px;
            text-shadow: black 1px 0 10px;
        }
    
    }   

}

