@font-face {
    font-family: cherry;
    src: url(../Fuentes/Texto/Cherry\ Bird\ Demo.ttf);
}

@font-face {
    font-family: elegant;
    src: url(../Fuentes/Texto/Elegant\ Handwriting.otf);
}

@font-face {
    font-family: juliette;
    src: url(../Fuentes/Texto/Juliette.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    height: auto;
}

header{
    height: 80px;
    width: 100%;
    background-color: #D88F80;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    position:relative;
}

.img{
    height: auto;
    width: 80px;
    float:left;
    padding-right: 15px;
}

.logo{
    float: left;
    text-transform: uppercase;
    text-shadow: 0 0 3px;
    font-family: elegant;
    font-size: 40px;
}

.barra{
    float: right;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    text-transform: capitalize;
}

ul a{
    color: #615553;
    text-decoration: none;
    font-family: elegant;
    font-size: 36px;
    padding: 10px

}

ul a:hover{
    color: white;
}

main{
    height: auto;
    background-color: #FDE6E1;
    margin-bottom: 80px;  

}

.Contenedor{
    border: 3px solid black;
    display: grid;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: juliette;
    color: #7D716F;
    font-size: 60px; 
    letter-spacing: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center ;
    justify-items: center;
    grid-template-areas:
    "encabezado"    
    "Juegos"   
    "Anime";
    background-size: cover;
    background-position: center;
}

h1{
    grid-area: encabezado;
    font-size: 100px;
}

h2{
    grid-area: h2; 
    font-size: 80px;   
}


.Juegos{
    grid-area: Juegos;
    border: 3px solid black;
    width: 100%;
    display: grid;
    padding: 45px; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 400px 400px;
    gap: 45px;
    grid-template-areas:  
    "h2 h2 h2 h2"
    "id1 id2 id3 id4"
    "id5 id6 id7 id8";  
}

.Anime{
    grid-area: Anime;
    border: 3px solid black;
    display: grid;
    width: 100%;
    padding: 45px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 400px 400px;
    gap: 45px;    
    grid-template-areas:
    "h2 h2 h2 h2"
    "id9 id10 id11 id12"
    "id13 id14 id15 id16";   
}

/* ################# Cards ################# */


.myCard {
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    text-shadow: black 1px 0 10px;   
}

.title {
    font-size: 1em;
    font-weight: 100;
    text-align: center;
}

.title2 {
    font-size: 1em;
    font-weight: 900;
    color: aliceblue;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.myCard:hover .innerCard {
    transform: rotateY(180deg);
}

.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;    
    background-size: cover;
}

.frontSide{
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

.backSide {
    transform: rotateY(180deg);   
}



/* ################# ID de las imagenes Juegos ################# */

/* Rosalina */

#id1{
    grid-area: id1;
}

#id1 .frontSide,
.frontSide::before {
    background-image: url(../img/Card/rosalina.webp);    
}

#id1 .backSide,
.frontSide::before {
    background-image: url(../img/Juegos/Rosalina.png);
}

/* Bayonetta*/

#id2{
    grid-area: id2;
}

#id2 .frontSide,
.frontSide::before {
    background-image: url(../img/Card/Bayoneta.avif);    
}

#id2 .backSide,
.frontSide::before {
    background-image: url(../img/Juegos/Bayoneta.png);
    background-size: contain;
}

/* Jinx */
#id3{
    grid-area: id3;
}

#id3 .frontSide,
.frontSide::before {
    background-image: url(../img/Card/Jinx.webp);    
}

#id3 .backSide,
.frontSide::before {
    background-image: url(../img/Juegos/jinx.png);
}

/* Mai */

#id4{
    grid-area: id4;
}

#id4 .frontSide,
.frontSide::before {
    background-image: url(../img/Card/mai_shiranui_en_the_king_of_fighters_allstar.jpg_242310155.webp);
}

#id4 .backSide,
.frontSide::before {
    background-image: url(../img/Juegos/snk-removebg-preview.png);
}

/* Eivor */

#id5{
    grid-area: id5;
}

#id5 .frontSide,
.frontSide::before {
    background-image: url(../img/Card/Eivor.webp);        
}

#id5 .backSide,
.frontSide::before {
    background-image: url(../img/Juegos/AC-removebg-preview.png);
}

/* Akali */

#id6{
    grid-area: id6;
}

#id6 .frontSide,
.frontSide::before {
    background-image: url(../img/Card/Akali.jpg);    
}

#id6 .backSide,
.frontSide::before {
    background-image: url(../img/Juegos/akali-removebg-preview.png);
}

/* Kichou */

#id7{
    grid-area: id7;
}

#id7 .frontSide,
.frontSide::before {
    background-image: url(../img/Card/Kichou.jpg);    
}

#id7 .backSide,
.frontSide::before {
    background-image: url(../img/Juegos/mobile-removebg-preview.png);
}

/* Sett */

#id8{
    grid-area: id8;
}

#id8 .frontSide,
.frontSide::before {
    background-image: url(../img/Card/sett.jpg);    
}

#id8 .backSide,
.frontSide::before {
    background-image: url(../img/Juegos/sett_lol-removebg-preview.png);
}

/* ################# ID de las imagenes Anime ################# */

/* Yoko */
#id9{    
    grid-area: id9;
}
#id9 .frontSide,
.frontSide::before {
    background-image: url(../img/Card/yoko.jpg);    
}

#id9 .backSide,
.frontSide::before {
    background-image: url(../img/Anime/TTGL.png);
}

/* Azula */

#id10{    
    grid-area: id10;
}

#id10 .frontSide,
.frontSide::before{
    background-image: url(../img/Card/azula.avif);    
}

#id10 .backSide,
.frontSide::before {
    background-image: url(../img/Anime/azula.png);
}

/* Rengoku */

#id11{    
    grid-area: id11;
}

#id11 .frontSide,
.frontSide::before{
    background-image: url(../img/Card/rengoku.jpeg);    
}

#id11 .backSide,
.frontSide::before {
    background-image: url(../img/Anime/rengoku.png);
}

/* Madara */

#id12{    
    grid-area: id12;
}

#id12 .frontSide,
.frontSide::before{
    background-image: url(../img/Card/Naruto-Madara-Uchiha-se-convierte-en-un-personaje-de-Dragon-Ball-One-Piece-y-Kimetsu-no-Yaiba-en-este-fanart.webp);    
}

#id12 .backSide,
.frontSide::before {
    background-image: url(../img/Anime/madara.png);
}

/* Draculaura */

#id13{    
    grid-area: id13;
}

#id13 .frontSide,
.frontSide::before{
    background-image: url(../img/Card/d12aa16167b3145a9d330a1097f83d4e.jpg);    
}

#id13 .backSide,
.frontSide::before {
    background-image: url(../img/Anime/highschool.png);
}

/* Usagi */

#id14{    
    grid-area: id14;
}

#id14 .frontSide,
.frontSide::before{
    background-image: url(../img/Card/usagi.jpg);    
}

#id14 .backSide,
.frontSide::before {
    background-image: url(../img/Anime/Usagi.png);
}

/* Faye */

#id15{    
    grid-area: id15;
}

#id15 .frontSide,
.frontSide::before{
    background-image: url(../img/Card/Faye_Valentine.jpg);    
}

#id15 .backSide,
.frontSide::before {
    background-image: url(../img/Anime/faye.png);
}

/* Mitsuri */

#id16{    
    grid-area: id16;
}

#id16 .frontSide,
.frontSide::before{
    background-image: url(../img/Card/Mitsuri_Kanroji_-_Anime.webp);    
}

#id16 .backSide,
.frontSide::before {
    background-image: url(../img/Anime/kimetsu.png);
}

/* Rengoku */

#id11{    
    grid-area: id11;
}

#id11 .frontSide,
.frontSide::before{
    background-image: url(../img/Card/rengoku.jpeg);    
}

#id11 .backSide,
.frontSide::before {
    background-image: url(../img/Anime/rengoku.png);
}




footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #FCA695;
    font-family: elegant;
    color: #7D716F;
    text-align: center;
    padding: 20px;
}

.redes-sociales a{

    color: #7D716F;
    font-size: 40px;
    padding-right: 40px;
    text-decoration: none;
}

.redes-sociales a:hover{
    color: white;
    text-shadow: black 1px 0 10px;
}


