@font-face {
    font-family: cherry;
    src: url(/WEB/font/Cherry\ Bird\ Demo.ttf);
}

@font-face {
    font-family: elegant;
    src: url(/WEB/font/Elegant\ Handwriting.otf);
}

@font-face {
    font-family: juliette;
    src: url(/WEB/font/Juliette.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 80px;
    width: 100%;
    background-color: #D88F80;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

.img{
    height: auto;
    width: 80px;
    float:left;
    padding-right: 15px;
}

.logo{
    float: left;
    text-transform: uppercase;
    text-shadow: 0 0 3px;
    font-family: elegant;
    font-size: 40px;
}

.barra{
    float: right;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    text-transform: capitalize;
}

ul a{
    color: #615553;
    text-decoration: none;
    font-family: elegant;
    font-size: 36px;
    padding: 10px

}

ul a:hover{
    color: white;
}

main{
    height: 100vh;
    background-color: #FDE6E1;
    margin-bottom: 80px;  
}

.Carrusel{
    margin:auto;
    background-color: #FDE6E1;
    max-width: 1500px;
    width: 100%;
    padding: 15px;
}

ul.slider{
    position: relative;
    max-width: 1500px;
    width: 100%;
    height: 415px;
}

ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

ul.slider li img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

ul.slider li:first-child{
    opacity:1;
}

ul.slider li:target{
    opacity: 1;
}

.menu{
    text-align: center;
    margin: 20px;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #DD897B;
    padding: 0px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}

h1{
    text-align: center;
    font-family: juliette;
    color: #7D716F;
    font-size: 60px;
}

p{
    text-align: center;
    font-family: cherry;
    font-size: 20px;
    color: #9E908D;
}


footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #FCA695;
    font-family: elegant;
    color: #7D716F;
    padding: 20px;
    text-align: center;
}

.redes-sociales a{

    color: #7D716F;
    font-size: 40px;
    padding-right: 40px;
    text-decoration: none;
}